/*

Theme Name: Brite Wireless Expertise Buro
Theme URI: Brite Wireless Expertise Buro
Description: The Brite Wireless Expertise Buro theme based on the famous Wordpress CMS.
Version: 3.6.1
Author: Websiteinbedrijf.nl

*/

/* normal */

/*Menu */
.scholen.menu-item .menu-image-hover-wrapper{
    margin-top: 2px;
}


.menu-image-title-after.menu-image-not-hovered .menu-image-title{
    display: inline-block;
    margin: 12px 0 12px 5px;
}

.menu-item a img{
/*    margin-top: -5px;*/
}

.menu-item a.menu-image-title-after.menu-image-not-hovered img, .menu-item a.menu-image-hovered.menu-image-title-after .menu-image-hover-wrapper {
    padding-right: 15px !important;
    width: 30px;
    display: block;
    float: left;
/*    margin-left: -40px;*/
}

* { margin: 0px; padding: 0px; }

html, body { font-family: Arial; font-size: 12px; color: #8c806e; }
input, select, textarea { font-family: Arial; font-size: 12px; color: #8c806e; }
body { background: #fff; }
img { border: 0px; display: block; }
a, input { outline: none; }
a {  color: #d60f12; }
a {  color: #d60f12; }


/* global style */

/* ### global classes ### */

.clear { clear: both; height: 1px; }
.centering { position: relative; margin: 0 auto; width: 1001px; }
.gallery  .gallery-caption { width:78%; text-align:left; padding-top:10px; padding-bottom:19px; font-style:italic; font-size:14px; color: #999999;}
.stepBox table { width:100%!important;}
.menu-topmenu-container { max-width: 1225px; }

/* ### wrapper ### */

#wrapper { position: relative; display: block; width: 100%; min-height: 100%; background: url(images/wrapper_bg.png) repeat left top; }

/* ### main container ### */

#mainCntr { margin: 0 auto; width: 100%; }


/* ### header container ### */

#headerCntr { position: relative; width: 100%; }


/* ### header box ### */


.headerBox { float: left; position: relative; width: 100%;  }
.headerBox img.banner { position: absolute; top: 0; left: 1px; }
.headerBox img.leftshadow { position: absolute; top: 0; left: -8px; }
.headerBox img.rightshadow { position: absolute; top: 0; right: -9px; }
.headerBox a.logo { margin: 45px 42px 0 38px; float: left; position:absolute; z-index: 9; top:0px; }
.headerBox .slogan { padding: 23px 10px 26px; margin: 49px 0 0 0; top:0px; left:306px; position:absolute; z-index: 999999; float: left; width: 329px; text-align: center; border-radius: 14px; background: url(images/slogan_bg.png); }
.headerBox h6 { color: #171717; font-size: 16px; line-height: 23px; font-family: 'SegoePrintRegular'; font-style: italic; }
.headerBox .search { margin: 22px 20px 0 0; position:absolute; top:0px; right:0px; z-index: 9; float: right; }
.headerBox fieldset { border: 0px;  }
.headerBox fieldset p { float: right; }
.headerBox input[type="text"] { padding: 0px 13px; margin-left: 2px; float: left; width: 124px; height: 25px; line-height: normal; color: #989898; font-size: 14px; font-family: "Trebuchet MS" ; font-style: italic; border: 1px solid #dadada; background: #f8f8f8; }
.headerBox input[type="submit"] { margin-left: 3px; cursor: pointer; float: left; width: 30px; height: 27px; border: 0px; background: url(images/submit_bg.png) no-repeat left top; }
.headerBox .flexslider-home { height:209px; overflow:hidden; }


/* ### menu box ### */

.menuBox { margin-top:-4px; position:relative; float: left; z-index: 9999; width: 100%; height: 59px; background: url(images/menuBox_bg.png) repeat-x left top; }
.menuBox ul { width: 100%; list-style: none; list-style-type: none; }
.menuBox li { float: left; position: relative; line-height: 59px; font-family: "Trebuchet MS"; font-size: 15px; font-weight: bold; text-transform: uppercase; }
.menuBox li:first-child a { padding-left: 44px; }
.menuBox li a { padding-left: 41px; float: left; text-decoration: none; color: #fff; }
.menuBox li a:hover { color:#ee3124; }
.menuBox li ul { padding-bottom:10px; display: none; width: 199px; position: absolute; top: 55px; left: 24px; background: url(images/menu_bg.png)  bottom center no-repeat; z-index:9999; }
.menuBox li li { width: 100%; font-size: 13px; letter-spacing: 0.9px; line-height: 31px; border-bottom: 1px solid #5e5e5e; background: #6d6d6d; }
.menuBox li li a, .menuBox li li:first-child a { padding-left: 18px; display: block; width: 179px; }
.menuBox li:hover ul { display: block; }
.menuBox li li:hover ul { display: block!important; }
.menuBox li:hover ul ul { display:none;}
.menuBox li li:hover  { background: #636363; }
.menuBox li li ul { display: block; position: absolute; top: 0px; left: 199px;  }
.menuBox li li li a, .menuBox li li li:first-child a { padding-left: 17px; }
.menuBox span.select { display: none; }
.flexslider-home { position:relative; }
.flexslider-home ul { list-style: none; overflow: hidden; }
.headerBox .flexslider-home .slides > li {display: none; -webkit-backface-visibility: hidden;}
.headerBox .flexslider-home-loaded.loading { margin-left:505px; margin-top:15px; width:35px; height:35px; background: url(images/ajax-loader.gif) no-repeat ; }

/* ### content container ### */

#contentCntr { padding-bottom: 0px; margin: -5px 0 -1px; position: relative; width: 100%; background: #fff url(images/content-bg.jpg) repeat-x; }
#contentCntr .bgcenter { padding: 0 9px; margin: 0 auto; width: 1001px; background: url(images/content-mid.png) repeat-y; }
#contentCntr .centering { padding-bottom: 20px; background: #FFF; }
.page-template-front-page-php #contentCntr { padding-bottom:0px; }
#contentCntr img.left { position: absolute; top: 0; left: -149px; }
#contentCntr img.left1 { position: absolute; bottom: -54px; left: -61px; }
#contentCntr img.right { position: absolute; top: 0; right: -120px; }
#contentCntr img.right1 { position: absolute; bottom: -54px; right: -99px; }


/* ### left container ### */

#leftCntr { float: left; width: 662px; margin-top: -3px; background: url(images/content-right.png) 600px top no-repeat; }


/* ### left container no sidebar ### */

#leftCntrNoSide { float: left; width: 1000px; margin-top: -3px; background: url(images/content-right2.png) 600px top no-repeat; }



/* ### path box ### */

.pathBox { margin-top: 10px; float: left; width: 100%; }
.pathBox ul { width: 100%; list-style: none; list-style-type: none; }
.pathBox li { padding-left: 5px; float: left; font-family: "Verdana"; font-size: 11px; font-weight: bold; line-height: 20px; }
.pathBox #breadcrumbs { padding-left: 45px; font-family: "Verdana"; font-size: 11px;  line-height: 20px;  font-weight: bold; color: #c3c3c3; }
.pathBox #breadcrumbs a { text-decoration: none; color: #c3c3c3; font-family: "Verdana"; font-size: 11px;  line-height: 20px;  font-weight: bold;}
.pageBox .textBox { width:100%; padding-left:5px; text-align:justify; }


/* ### list box ### */

.listBox {  padding-left: 40px; margin-bottom:40px; width: 100%; overflow:hidden; }
.listBox h1 { margin-top:12px; margin-bottom:20px;}
.listBox .list { float: left; padding-top: 23px; width: 91.5%; height: 162px; background: url(images/listBox.png) repeat-x top left;  }
.listBox .photo { float: left; width: 170px; height: 133px; background: url(images/photo_frame3.png) no-repeat top left; }
.listBox .photo img { margin: 16px 6px; }
.listBox .content { padding-left: 12px; margin-top: -2px; float: left; width: 52.2%; }
.listBox p { font-family: Verdana; color: #515151; font-size: 14px; line-height: 18px; }
.listBox span { padding-top: 18px; display: block; color: #515151; font-size: 14px; font-family: Verdana; line-height: 18px; font-style: italic; font-weight: bold; letter-spacing: -0.5px; }
.listBox .content a { padding-top: 19px; display: block; text-decoration: none; font-family: Verdana; color: #d30002; font-weight: bold; font-style: italic; }
.listBox .content a span { padding: 0; display: inline; font-size: 12px; }
.listBox a:hover, .listBox .men a:hover { text-decoration: underline; }
.listBox .men { float: left; width: 106px; background: url(images/photo_frame4.png) no-repeat left -1px; }
.listBox .men img { margin: 6px 0 14px 8px;  }
.listBox .men a { padding-left: 3px; font-family: Verdana; font-size: 14px; color: #f40808; line-height: 18px; text-decoration: none; font-weight: bold; }

/* ### work box ### */

.workBox { padding-left: 43px; padding-top: 14px; width: 92%; }
.workBox h4 { color: #e8281a; font-weight: bold; font-size: 16px; line-height: 18px; }
.workBox p { padding-top: 18px; font-family: Verdana; font-size: 14px; color: #515151; line-height: 18px; }
.textBox ul { padding-top: 0px; padding-bottom:15px; width: 100%; list-style: none; list-style-type: none; }
.textBox ul li { padding-left: 24px; width: 95%; background: url(images/list_bg4.png) no-repeat 1px 6px; }
.textBox li a {  text-decoration: none; color: #515151; font-family: Verdana; font-size: 14px; color: #515151; line-height: 18px; }
.textBox ol { padding-top:18px; }
.textBox ol li { margin-left:25px;}
.textBox ul.two li { padding: 10px 0 0 29px; width: 100%; background: url(images/li.png) no-repeat 0 9px; }
.textBox h1, .textBox h2, .textBox h3, .textBox h4 {  color: #d60f12;  font-family: Verdana; padding-bottom:15px; font-weight:normal; line-height:24px; }
.textBox h1 { font-size:16px; font-weight:bold;}
.textBox h2 { font-size:16px; line-height:23px; font-weight:bold;}
.textBox h3 { font-size:15px; padding-bottom:18px; font-weight:bold;}
.textBox h4 { font-size:14px; line-height:20px; font-weight:bold; padding-bottom:15px;}
.textBox a {  color: #d60f12; }

/* ### logo box ### */

.logoBox { padding-left: 41px; padding-top: 39px; width: 92%; }
.logoBox ul { width: 100%; list-style: none; list-style-type: none; }
.logoBox li { padding-right: 16px; float: left; width: 170px; height: 133px; background: url(images/logoBox_bg.png) no-repeat left top;  }
.logoBox li a img { margin: 12px 7px; }

/* ### reference box ### */

.referenceBox { padding-left: 41px; padding-top: 33px; width: 92%; }
.referenceBox h5 { padding-left: 3px; color: #d30002; font-weight: bold; font-size: 15px; line-height: 18px; }
.referenceBox p { padding: 17px 35px 0 3px; font-family: Verdana; font-size: 14px; color: #515151; line-height: 18px; }
.referenceBox p a { text-decoration: none; color: #d30002; font-weight: bold; }
.referenceBox p a:hover { text-decoration: underline; }
.referenceBox ul { padding-top: 36px; overflow: hidden; width: 100%; list-style: none; list-style-type: none; }
.referenceBox li { padding-bottom: 20px; padding-right: 18px; float: left; width: 100px; background: url(images/photo_frame5.png) no-repeat left top; }
.referenceBox li a img { margin: 15px 18px 22px; }

.referenceBox li span { display: block; text-align: center; font-family: 'SegoePrintRegular'; color: #333333; font-size: 15px; font-weight: bold; line-height: 30px; }


/* ### details box ### */

.detailsBox { padding-left: 41px; padding-top: 20px; width: 94%; }
.detailsBox ul { width: 635px; list-style: none; list-style-type: none; }
.detailsBox li { padding-bottom: 20px; float: left; width: 49.5%; background: url(images/photo_frame6.png) no-repeat left top; }
.detailsBox li .photo { width: 106px; float: left; }
.detailsBox li a img { margin: 16px 19px; }
.detailsBox li .content { padding: 7px 0 0 9px; float: left; width: 62%; }
.detailsBox h5 { color: #e8281a; font-weight: bold; font-size: 15px; line-height: 18px; }
.detailsBox p { padding-top: 14px; font-family: Verdana; font-size: 14px; color: #515151; line-height: 16px; }
.detailsBox p a { text-decoration: none; color: #e72719; font-weight: bold; }
.detailsBox p a:hover { text-decoration: underline; }


/* ### view box ### */

.viewBox { padding-left: 42px; padding-top: 55px; width: 92%; }
.viewBox h4 { padding-left: 3px; color: #d60f12; font-weight: normal; font-size: 18px; line-height: 18px; }
.viewBox ul { padding-top: 13px; width: 100%; list-style: none; list-style-type: none; }
.viewBox li { padding-bottom: 20px; padding-right: 4px; float: left; width: 158px; background: url(images/photo_frame7.png) no-repeat left top; }
.viewBox li a img { margin: 8px 10px; }
.viewBox li a { display: block; text-decoration: none; color: #d60f12; font-weight: bold; font-size: 12px; font-family: Verdana; line-height: 18px; }
.viewBox li a span { padding: 9px 3px; display: block; }
.viewBox li a:hover { text-decoration: underline; }

/* ### follow box ### */


.followBox { padding-left: 43px; width: 92%; overflow: hidden; }
.followBox ul { padding-top: 9px; margin-bottom:30px; padding-bottom: 30px; overflow: hidden; width: 97%; list-style: none; list-style-type: none; background: url(images/line_bg.png) repeat-x bottom left; }
.followBox li { padding-right: 23px; float: left; }


/* ### response box ### */

.responseBox { padding-left: 42px; padding-top: 29px; width: 92%; font-family: Verdana; }
.authorBox.about { padding: 14px 0 11px 12px; margin-left: 41px; width: 85.8%; border: 1px solid #cccccc; overflow: hidden; }
.authorBox.about img { float: left; }
.responseBox .content { width: 80%; float: right; }
.responseBox .content p { padding-top: 2px; font-size: 12px; color: #515151; line-height: 18px; }
.responseBox .content p a { display: block; text-decoration: none; color: #d60f12; }
.responseBox .content p a:hover { text-decoration: underline; font-weight: bold; }
.authorBox .content { width: 80%; float: right; }
.authorBox .content p { padding-top: 2px; font-size: 12px; color: #515151; line-height: 18px; }
.authorBox .content p a { display: block; text-decoration: none; color: #d60f12; }
.authorBox .content p a:hover { text-decoration: underline; font-weight: bold; }
.commentlist { padding-bottom: 20px; overflow: hidden; width: 100%; list-style: none; list-style-type: none; }
.commentlist li { float: left; width: 100%; list-style:none; }
.commentlist li .photo { margin-left: 1px; float: left; width: 86px; height: 86px; border: 1px solid #d1d1d1; background: #fff; }
.commentlist li .photo img { margin: 5px; width:74px; height:74px; }
.commentlist li .text { padding: 12px 17px 14px 16px; margin-right: 11px; position: relative; float: right; width: 445px; border: 1px solid #d1d1d1; border-radius: 8px; background: #f3f4f4; }
.commentlist li .text img { position: absolute; top: 21px; left: -10px;  }
.commentlist li .text h6 { color: #e62c1e; font-size: 14px; font-weight: bold; line-height: 20px; }
.commentlist li .text p { padding: 14px 0 4px 1px; font-size: 12px; color: #515151; line-height: 18px; }
.commentlist li .text a { display: block; float: right; text-decoration: none; color: #d60f12; font-weight: bold; font-size: 12px; line-height: 14px; }
.commentlist li .text a:hover { text-decoration: underline; }
.commentlist li ul { padding-top: 21px; width: 94.4%; float: right; }
.commentlist .children .text { width: 411px!important; }

/* ### reply box ### */

.replyBox { padding: 25px 0 25px 43px; width: 90.2%; }
.replyBox h2 { padding-bottom: 12px; color: #d60f12; font-size: 21px; font-family: 'Verdana'; line-height: 26px; font-weight: normal; }
.replyBox h2#comments { padding-bottom:40px; color: #ec1d0f; font-size: 21px; font-weight: bold; line-height: 26px; }
.replyBox fieldset { padding: 16px 0 11px; overflow: hidden; width: 100%; border: 1px solid #d1d1d1; border-radius: 5px; background: #f3f4f4; }
.replyBox fieldset p { padding-left: 19px; }
.replyBox label { padding-left: 1px; color: #646464; font-family: 'Trebuchet MS'; font-size: 16px; line-height: 25px; font-weight: bold; }
.replyBox label span { color: #df2a1d;  }
.replyBox input[type="text"] { padding: 5px 10px; margin-bottom: 7px; width: 260px; height: 16px; line-height: normal; color: #999898; font-size: 14px; font-family: "Trebuchet MS" ; border: 1px solid #d2d2d2; border-radius: 3px; background: #fff; }
.replyBox textarea { padding: 10px; margin-bottom: 7px; margin-top: -1px; resize: none; width: 446px; height: 151px; line-height: normal; color: #999898; font-size: 14px; font-family: "Trebuchet MS" ; border: 1px solid #d2d2d2; border-radius: 3px; background: #fff; }
.replyBox #submit { padding-bottom: 7px; margin: 4px 107px 0; float: right; cursor: pointer; width: 140px; height: 45px; font-family: Candara; font-size: 18px; color: #fff; border: 0px; background: url(images/btn_bg5.png) no-repeat left top; }
.replyBox #submit:hover { background-position: 0 -50px; }

/* ### step box ### */

.stepBox { padding: 11px 0 0px 39px; width: 90%; font-family: Verdana; font-size: 14px; color: #515151; }
.stepBox h2 { padding-left: 4px; color: #d60f12; font-size: 16px; font-weight: bold; line-height: 25px; }
.stepBox p { padding: 9px 3px 11px; font-size: 13px; font-family: Verdana; line-height: 18px; }
.stepBox h3 { padding-left: 4px; padding-top: 10px; color: #d60f12; font-size: 16px; font-weight: bold; line-height: 22px; }
.stepBox h1{ padding-left: 4px; color: #d60f12; font-size: 18px; font-weight: bold; line-height: 30px; font-family: Verdana; }
.stepBox .photo { margin-top: 14px; float: left; margin-right:10px; width: 237px; height: 181px; background: url(images/photo_frame2.png) no-repeat top left;  }
.stepBox .photo img { margin: 8px 10px; }
.stepBox ul { padding-left: 20px; font-size: 13px; padding-bottom:14px; }

/* ### wire box ### */

.wireBox { padding: 13px 0 84px 39px; width: 90%; font-family: Verdana; font-size: 13px; color: #515151; line-height: 18px; }
.wireBox h1 , .listBox h1 { padding-left: 4px; color: #d60f12; font-size: 17px; font-weight: bold; line-height: 50px; font-family: Verdana; }
.wireBox h1 a {color: #d60f12; text-decoration:none; line-height: 25px;}
.pagetitle { padding:10px 0px;}
.wireBox .blog { padding-bottom: 24px; float: left; width: 100%; }
.wireBox .photo { margin-top: 14px; float: left; width: 237px; height: 181px; background: url(images/photo_frame2.png) no-repeat top left;  }
.wireBox .photo img { margin: 8px 10px; }
.wireBox .fullpost.content { width:100%; padding-left:0px;}
.wireBox .content { padding: 13px 0 0 24px; float: left; width: 300px; }
.wireBox .blog.new { padding-bottom: 0;  }
.wireBox .content.new { margin-top: 3px; }
.wireBox .photo.new { margin-top: 18px;  }
.wireBox p { padding-bottom: 18px; font-family: Verdana;  }
.wireBox a.meer { text-decoration: none; color: #d60f12; font-weight: bold; font-style: italic; }
.wireBox a.meer:hover { text-decoration: underline; }
.wireBox .info { margin-top: 8px; position: relative; float: left; width: 100%; background: url(images/line_bg.png) repeat-x top left; }
.wireBox .info ul { padding: 10px 5px 12px 0; overflow: hidden; width: 91%; list-style: none; list-style-type: none; background: url(images/line_bg.png) repeat-x bottom left;  }
.wireBox .info li { padding: 0 8px; float: left; font-size: 10px; line-height: 25px; color: #959494; font-family: Verdana; background: url(images/list_sep.png) no-repeat left 9px; }
.wireBox .info li:first-child { padding-left: 30px; background: url(images/time_bg.png) no-repeat left -2px; }
.wireBox .info li a { float: left; text-decoration: none; color: #d60f12; }
.wireBox .info li a:hover { color: #e52316; text-decoration: underline; }
.wireBox .info a.btn { position: absolute; top: 7px; right: 12px; width: 34px; height: 33px; text-indent: -9999px; display: block; background: url(images/btn_bg4.png) no-repeat left 0; }
.wireBox .info a.btn:hover { background-position: 0 -38px; }
.wireBox .paging { padding-top: 25px; width: 100%; overflow:hidden; position:relative; }
.wireBox .paging a.pre, .wireBox .paging a.next { padding-left: 5px; text-decoration: none; float: left; font-weight: bold; font-family: Verdana; font-size: 14px; color: #535353; line-height: 20px; }
.wireBox .paging a.next { margin-right: -5px; float: right; }
.wireBox .paging ol { margin-top: -2px; display:block; list-style-type: none; list-style: none; text-align:center; }
.wireBox .paging li { padding-right: 1px; display:inline; list-style:none;  }
.wireBox .paging li .title { display:none;}
.wireBox .paging li:first-child { padding-left: 0px; }
.wireBox .paging li a { padding: 0 4px; text-decoration: none; color: #333333; font-family: Verdana; font-weight: bold; font-size: 14px; line-height: 24px;  }
.wireBox .paging li span {text-decoration: none; color: #333333; font-family: Verdana; font-weight: bold; font-size: 14px; line-height: 24px; }
.wireBox .paging li a:hover, .wireBox .paging li .current { display:inline; background: #d60f12; color: #fff; }
.wireBox .paging li .current { padding:0 4px; }
.wireBox .paging li a.next, .wireBox .paging li a.prev { background:none; color: #333333; }
.wireBox .paging li a.next { float:right; position:absolute; right:0px; }
.wireBox .paging li a.prev { float:left; position:absolute; left:0px; }
.wireBox .paging li a.next:hover , .wireBox .paging li a.prev:hover { background:none;color: #d60f12;}
.wireBox .blog .meer { float:right; }

/* ### brite box ### */

.briteBox { padding: 5px 0 0 45px; width: 90%; font-family: Verdana; font-size: 13px; color: #515151; line-height: 18px; }
.briteBox h1 { color: #d60f12; font-size: 17px; font-weight: bold; line-height: 45px; font-family: Verdana;  }
.briteBox p { padding: 11px 0 6px; }
.briteBox ul { padding-top: 12px; width: 100%; float: left; list-style: none; list-style-type: none; }
.briteBox li { padding-left: 12px; float: left; width: 100%; background: url(images/bullot1.png) no-repeat 1px 8px; }
.briteBox li a { text-decoration: none; color: #d60f12;  }
.briteBox li a:hover { color: #d60f12; font-weight: bold; }
.briteBox a.more { padding-top: 18px; float: left; color: #d60f12; text-decoration: none; font-weight: bold; }
.briteBox a.more:hover { text-decoration: underline; }

/* ### site box ### */

.siteBox { padding: 10px 5px 21px 20px; margin: 35px 0 0 30px; overflow: hidden; width: 88.4%; font-family: Verdana; font-size: 13px; color: #636363; line-height: 18px; background: #e8e8e8; }
.siteBox h2 { color: #d60f12; font-size: 17px; font-weight: bold; line-height: 30px;  }
.siteBox p { padding: 15px 25px 18px 2px; }
.siteBox a.more { margin-left: -1px; display:block; width: 271px; height: 55px; font-family: 'SegoePrintRegular'; color: #fff; font-size: 20px; text-align: center;  line-height: 48px; text-decoration: none; font-weight: bold; background: url(images/more_bg.png) no-repeat top left; }
.siteBox a.more:hover { background-position: 0 -67px ; }
.siteBox span {  display:block; width: 271px; text-align: center; color: #7d7d7d; font-size: 12px; line-height: 12px; }

/* ### recent box ### */

.recentBox { padding: 35px 0 0 42px; float: left; width: 90%; font-family: Verdana; font-size: 13px; color: #515151; line-height: 18px; }
.recentBox h3 { color: #d60f12; font-size: 17px; font-family: Verdana; font-weight: bold; line-height: 50px;  }
.recentBox .blog { padding-bottom: 11px; float: left; width: 100%; }
.recentBox .photo { margin-top: 7px; float: left; width: 171px; height: 142px; background: url(images/photo_frame.png) no-repeat top left;  }
.recentBox .photo img { margin: 8px 9px; }
.recentBox .content { padding: 12px 0 0	13px; float: left; width: 408px; }
.recentBox .content a {text-decoration: none; color: #d60f12; font-weight: bold; }
.recentBox h4 { color: #d60f12; padding-bottom:17px; font-size: 16px; font-weight: normal; line-height: 20px; }
.recentBox h4 a { color: #d60f12; text-decoration:none; font-family: Verdana; font-weight: bold !important; }
.recentBox p { padding: 0px 0 0 1px; }
.recentBox p a { text-decoration: none; color: #d60f12; font-weight: bold; }
.recentBox  a:hover { text-decoration: underline; }
.recentBox .info { margin-top: 10px; position: relative; float: left; width: 100%; background: url(images/line_bg.png) repeat-x top left; }
.recentBox ul { padding: 10px 0 12px 0; overflow: hidden; width: 100%; list-style: none; list-style-type: none; background: url(images/line_bg.png) repeat-x bottom left;  }
.recentBox li { padding: 0 8px; float: left; font-size: 10px; line-height: 20px; color: #959494; font-family: Verdana; background: url(images/list_sep.png) no-repeat left 5px; }
.recentBox li:first-child { padding-left: 30px; background: url(images/time_bg.png) no-repeat left -2px; }
.recentBox li a { float: left; text-decoration: none; color: #d60f12; }
.recentBox li a:hover { color: #d60f12; font-weight: normal; }
.recentBox a.btn { position: absolute; top: 7px; right: 12px; width: 34px; height: 33px; text-indent: -9999px; display: block; background: url(images/btn_bg1.png) no-repeat left 0; }
.recentBox a.btn:hover { background-position: 0 -38px; }
.recentBox li.last { width:242px;}
.recentBox li.last a { float:left;}

/* ### right container ### */

#rightCntr { float: right; width: 313px; padding-bottom:30px; }
#rightCntr img.right { position: absolute; top: 0px; right: 0px; }
#rightCntr .widget { margin-bottom:20px;}
#rightCntr .customerBox.widget { margin-bottom:0px;}

.page-template-front-page-php #rightCntr { padding-bottom:0px; }

/* ### site1 box ### */

.site1Box { padding-left: 1px; margin-top: 38px; overflow: hidden; width: 88.4%; font-family: Verdana; font-size: 14px; color: #636363; line-height: 18px; }
.site1Box h3 { color: #d60f12; font-size: 16px; font-family: Verdana; font-weight: bold; line-height: 30px;  }
.site1Box p { padding: 14px 0 19px; font-size: 13px; }
.site1Box a.more { margin-left: -1px; float: left; width: 260px; height: 55px; font-family: 'SegoePrintRegular'; color: #fff; font-size: 20px; text-align: center;  line-height: 46px; text-decoration: none; font-weight: bold; background: url(images/btn_bg3.png) no-repeat top left; }
.site1Box a.more:hover { background-position: 0 -55px ; }
.site1Box span { float: left; width: 271px; text-align: center; color: #7d7d7d; font-size: 12px; line-height: 12px; }

/* ### category box ### */

.categoryBox {  float: left; width: 100%; }
.categoryBox h3 { padding-left: 2px; color: #d60f12; font-size: 16px; font-family: Verdana; line-height: 50px; font-weight: bold; }
.categoryBox ul { padding-top: 4px; width: 100%; list-style: none; list-style-type: none; }
.categoryBox li { padding: 0 0 0px 38px; display:block; font-size: 13px; line-height: 18px; font-family: 'Verdana'; background: url(images/list_bg1.png) no-repeat 18px 8px; }
.categoryBox li a { text-decoration: none; color: #636363; }
.categoryBox li a:hover { color: #d60f12; text-decoration: underline; }

/* ### active box ### */

.activeBox {   float: left; width: 100%; }
.activeBox h3 { padding-left: 2px; color: #d60f12; font-size: 19px; font-family: Verdana; line-height: 50px; font-weight: normal; }
.activeBox ul { padding-top: 8px; width: 100%; list-style: none; list-style-type: none; }
.activeBox li { padding-bottom: 5px; width: 100%; float: left; font-size: 14px; font-weight: bold; line-height: 18px; font-family: 'Verdana'; background: url(images/list_bg1.png) no-repeat 18px 8px; }
.activeBox li a.men { padding-left: 8px; float: left;  }
.activeBox li p { padding-top: 7px; padding-left: 16px; color: #3d3d3d; font-size: 13px; width: 68%; float: left;  }
.activeBox li p a { text-decoration: none; color: #e22f22; }

/* ### wifi box ### */

.wifiBox { padding-top: 40px; margin-bottom: 20px; width: 100%; position: relative; }
.wifiBox h3 { color: #ee3124; font-size: 21px; font-weight: normal; line-height: 50px; }
.wifiBox img { margin: 2px 12px 0 102px; }
.wifiBox p { padding: 10px 10px 20px 0; color: #676767; font-size: 14px; font-family: Verdana; line-height: 19px; }
.wifiBox p span { font-weight: bold; }
.wifiBox fieldset { border: 0px; width: 100%; }
.wifiBox fieldset p { padding: 7px 0 4px 0; float: left; width: 100%; }
.wifiBox input[type="text"] { padding: 0px 9px; margin-left: 2px; float: left; width: 143px; height: 28px; line-height: normal; color: #999898; font-size: 14px; font-family: "Trebuchet MS" ; font-style: italic; border: 1px solid #ededed; background: #f8f8f8; }
.wifiBox input[type="submit"] { padding-bottom: 9px; margin-left: 8px; margin-top: -1px; cursor: pointer; float: left; width: 124px; height: 30px; font-family: 'SegoePrintRegular'; line-height:33px; text-decoration:none; text-align:center; font-size: 14px; color: #fff; border: 0px; background: url(images/submit_bg1.png) no-repeat left top; }
.wifiBox input[type="submit"]:hover { background-position: 0 -42px; }
.wifiBox a.downl { position: absolute; left: 17px; top: 273px; width: 185px; height: 51px; line-height: 45px; font-family: 'SegoePrintRegular'; text-decoration:none; text-align:center; font-size: 19px; color: #fff; background: url(images/download-button.png) no-repeat left top; }
.wifiBox a.downl:hover { background: url(images/download-button.png) no-repeat left bottom; }

/* ### choose box ### */

.chooseBox { float: left; width: 100%; }
.chooseBox h3 { padding-left: 2px; color: #d60f12; font-size: 16px; font-family: Verdana; line-height: 25px; font-weight: bold; }
.chooseBox ul { padding-top: 9px; width: 100%; list-style: none; list-style-type: none; }
.chooseBox li { padding: 0 0 8px 36px;  float: left; font-size: 13px; line-height: 22px; font-family: verdana; color: #616161; background: url(images/list_bg.png) no-repeat 7px 3px; }
.chooseBox li a { text-decoration: none; color: #616161; }

/* ### customer box ### */

.customerBox {  width: 100%; overflow:hidden; }
.customerBox h3 { padding-left: 2px; color: #d60f12; font-family: Verdana; font-size: 16px; font-weight: bold; line-height: 30px; }
.customerBox .customer { padding-bottom: 14px; margin-top: 11px; width: 93.5%; overflow: hidden; background: #e8e8e8; }
.customerBox .slider { margin: 0 auto; width: 85%;  }
.customerBox p { padding-top: 24px; color: #575757; font-size: 13px; line-height: 21px; font-family: 'Verdana'; font-weight: bold; }
.customerBox .slider ul { padding-top: 22px; width: 100%; list-style: none; list-style-type: none;  }
.customerBox ul.slides { list-style:none; padding-top:0px; }
.customerBox ul.slides .nolist { background:none; padding-top:0px; padding-left:0px; }
.customerBox .slider li { padding-left: 19px; background: url(images/list_bg1.png) no-repeat 2px 8px; list-style:none; }
.customerBox .slider li a { text-decoration: none; color: #575757; font-size: 13px; font-family: 'Verdana'; line-height: 19px;  }
.customerBox .info { padding-top: 31px;  width: 100%; }
.customerBox span { padding: 0px 0 0 1px; float: left; width: 53%; font-family: Verdana; color: #d60f12; font-size: 14px; font-weight: bold; line-height: 19px; }
.customerBox span span { padding: 10px 0 0 0; color: #575757; font-size: 12px; float: none; font-style: italic; }
.customerBox .photo { float: right; width: 92px; height: 94px; }
.customerBox .photo img {  border:solid 1px #FFF; }
.customerBox a.btn { margin: 13px auto 0; display: block; width: 177px; height: 38px; text-align: center; font-size: 14px; line-height: 34px!important; text-decoration: none; color: #fff!important; font-family: 'SegoePrintRegular'; background: url(images/btn_bg2.png) no-repeat left 0px; }
.customerBox a.btn:hover { background-position: 0 -40px; }
.customerBox .paging { margin: 8px auto 0; width: 100%; }
.customerBox .flex-control-paging { margin: 8px auto 0; list-style: none; list-style-type: none; text-align:center; }
.customerBox .flex-control-paging li { padding-left: 5px; display:inline-block; background:none; list-style:none;  }
.customerBox .flex-control-paging li a { cursor:pointer; float: left; width: 9px; height: 9px; text-indent: -9999px; display: block; background: #bbbaba; text-decoration: none; border-radius: 5px; }
.customerBox .flex-control-paging li a:hover , .customerBox .flex-control-paging li a.flex-active { background: #eb5c54; }
.customerBox .slides { padding-top:0px;}
.customerBox .flexslider-sidebar .slides > li {display: none; -webkit-backface-visibility: hidden;}
.customerBox .flexslider-sidebar-loaded.loading { margin-left:105px; margin-top:15px; width:35px; height:35px; background: url(images/ajax-loader.gif) no-repeat ; }

/* ### center container ### */

#centerCntr { float: left; width: 100%; }

/* ### slider box ### */

.sliderBox { padding: 18px 0 0px; float: left; width: 100%; background: url(images/line_bg.png) repeat-x left 0px; }
.sliderBox h5 { padding-left: 22px; float: left; color: #d60f12; font-size: 14px; font-family:Verdana;  }
.sliderBox ul { float: left; width: 100%; list-style: none; list-style-type: none; }
.sliderBox a.flex-prev { text-indent: -9999px; display: block; position: absolute;  top: 57px; left: 24px; width: 13px; height: 26px; background: url(images/pre_btn.png) no-repeat left top; }
.sliderBox a.flex-prev:hover, .sliderBox a.flex-next:hover { background-position:  bottom left; }
.sliderBox a.flex-next { text-indent: -9999px; display: block; position: absolute;  top: 57px; right: 21px; width: 13px; height: 26px; background: url(images/next_btn.png) no-repeat left top ; }
.sliderBox a.flex-disabled { opacity:.2;}
.sliderBox .flex-control-nav.flex-control-paging { display:none; }
.flexslider-logo { width:890px; margin:0 auto;}
.sliderBox .flexslider-logo .slides > li {display: none; -webkit-backface-visibility: hidden;}
.sliderBox .flexslider-logo-loaded.loading { margin-left:505px; margin-top:0px; width:35px; height:35px; background: url(images/ajax-loader.gif) no-repeat ; }

/* ### footer container ### */

#footerCntr { padding-top: 38px; overflow: hidden; width: 100%; position: relative; z-index: 9999; background: url(images/top.png) center top no-repeat; }

/* ### footer box ### */

.footerBox { padding-bottom: 33px; position: relative; z-index: 99999; float: left; width: 100%; background: url(images/mid.png) center top repeat-y; }
.footerBox .centering { overflow: hidden; background: url(images/bg-footer.png) repeat; }
.footerBox .list { padding: 0 30px 0 44px; float: left; width: 280px; }
.footerBox h4 { color: #e7e7e7; font-size: 15px; line-height: 22px; font-family: Verdana; text-transform: uppercase; }
.footerBox .list ul { padding-top: 20px; float: left; list-style: none; list-style-type: none;  }
.footerBox .list li { padding-left: 30px; font-size: 13px; font-family: Verdana; line-height: 18px; background: url(images/list_bg2.png) no-repeat 1px 7px; }
.footerBox .list li a { text-decoration: none; color: #e7e7e7; }
.footerBox .list li a:hover { color: #d60f12; }
.footerBox .list1 { padding: 0 30px 0 45px; float: left; width: 200px; }
.footerBox address { padding-top: 20px; color: #e7e7e7; font-size: 12,9px; font-family: Verdana; line-height: 18px; font-style: normal; }
.footerBox a.more { padding-top: 16px; float: left; text-decoration: none; color: #e7e7e7; font-size: 13px; font-family: Verdana; line-height: 18px;  }
.footerBox a.more:hover { text-decoration: none; color: #ee3124; }
.footerBox .list1 ul { padding-top: 24px; float: left; list-style: none; list-style-type: none;  }
.footerBox .list1 li { padding-left: 7px; float: left;}
.footerBox .list1 li:first-child { padding-left: 0; }
.footerBox .list1 li img:hover { opacity:.8; }
.tinynav { display: none; }

/* ### copy box ### */

.copyBox { padding: 25px 0; margin-top: -1px; position: relative; z-index: 99999; float: left; width: 100%; background: #404040 url(images/copy_top.png) center top no-repeat; }
.copyBox ul { float: left; list-style: none; list-style-type: none;  }
.copyBox li { padding: 0 10px 0 18px; float: left; font-family: Verdana; line-height: 21px; background: url(images/list_bg3.png) no-repeat 0 11px; }
.copyBox li:first-child { padding-left: 44px; background: none; }
.copyBox li a { text-decoration: none; color: #979696; }
.copyBox li a:hover { color: #d60f12; }
.copyBox p { padding-right: 46px; float: right; text-align: right; color: #979696; font-family: Verdana; line-height: 20px; }

/* Begin Images */

p img { padding: 0; max-width: 100%; }
img.centered { display: block; margin-left: auto; margin-right: auto; }
img.alignright { padding: 4px; margin: 0 0 2px 7px; display: inline; }
img.alignleft { padding: 4px; margin: 0 7px 2px 0; display: inline; }
.alignright { float: right; }
.alignleft { float: left; }

/* End Images */

/* Begin Comments*/

.alt { margin: 0; padding: 10px; }
#commentform { margin: 5px 10px 0 0; }
#respond:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
#commentform a { color: #d60f12; }
#commentform p { color: #979696; }
.commentlist li,
#commentform input,
#commentform textarea { font: 0.9em 'Lucida Grande', Verdana, Arial, Sans-Serif; }
.commentlist li ul li { font-size: 1em; }
.commentlist li { font-weight: bold; }
.commentlist cite,
.commentlist cite a { font-weight: bold; font-style: normal; font-size: 1.1em; }
.commentlist p { font-weight: normal; line-height: 1.5em; text-transform: none; }
#commentform p { font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }
.commentmetadata { font-weight: normal; }
.children { padding: 0; }
#commentform p { margin: 5px 0; }
.nocomments { text-align: center; margin: 0; padding: 0; }
.commentmetadata { margin: 0; display: block; }

/* End Comments */

/* Begin Calendar */

#wp-calendar { empty-cells: show; margin: 10px auto 0; width: 155px; }
#wp-calendar #next a { padding-right: 10px; text-align: right; }
#wp-calendar #prev a { padding-left: 10px; text-align: left; }
#wp-calendar a { display: block; }
#wp-calendar caption { text-align: center; width: 100%; }
#wp-calendar td { padding: 3px 0; text-align: center; }
#wp-calendar td.pad:hover { /* Doesn't work in IE */ background-color: #fff; }
#wp-calendar #prev a,
#wp-calendar #next a { font-size: 9pt; }
#wp-calendar a { text-decoration: none; }
#wp-calendar caption { font: bold 1.3em 'Lucida Grande', Verdana, Arial, Sans-Serif; text-align: center; }
#wp-calendar th { font-style: normal; text-transform: capitalize; }

/* End Calendar */

/* Begin Various Tags & Classes */

acronym, abbr, span.caps { cursor: help; }
acronym, abbr { border-bottom: 1px dashed #999; }
blockquote { background:#eee; margin: 0px 30px 20px 10px; padding:1.4em 1em 0.1em 1em; border-left: 5px solid #b9b8b8; }
blockquote cite { margin: 5px 0 0; display: block; }
.center { text-align: center; }
.hidden { display: none; }
.screen-reader-text { position: absolute; left: -1000em; }
hr { display: none; }
a img { border: none; }
.navigation { display: block; text-align: center; margin-top: 10px; margin-bottom: 60px; }

/* End Various Tags & Classes*/

/* Captions */

.aligncenter, div.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.wp-caption { border: 1px solid #ddd; text-align: center; background-color: #f3f3f3; padding-top: 4px; margin: 10px; }
.wp-caption img { margin: 0; padding: 0; border: 0 none; }
.wp-caption p.wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0; }

/* End captions */

.gallery .gallery-item { width: 20% !important; }

/* Tablet Portrait size to standard 960 (devices and browsers) */

@media only screen and (min-width: 768px) and (max-width: 1000px) {

    #contentCntr .bgcenter { width: 706px; background: url("images/content-mid-tab.png") repeat-y; }
    .centering { width: 706px; }
    .menuBox li a { padding-left: 18px;  }
    .menuBox li:first-child a { padding-left: 18px; }
    .menuBox li { font-size: 14px }
    .flex-viewport li { width: 100%; height: 100%; }
    .flex-viewport li img { width: 100%; height: auto; }
    .headerBox .flexslider-home { height: auto;  }
    .headerBox a.logo { margin-top: 45px;   }
    .headerBox .slogan { padding: 10px;  }
    #leftCntr { width: 460px; background: url(images/content-right.png) 390px top no-repeat; }
    #rightCntr { width: 240px; }
    .briteBox p { padding-top: 0; }
    .wifiBox p { padding-top: 0; }
    .wifiBox input[type="text"] { width: 205px; }
    .wifiBox input[type="submit"] { margin-top: 10px; }
    #rightCntr .widget { margin-bottom: 10px; }
    .chooseBox h3 { line-height: 20px;  }
    .chooseBox li { padding-left: 15%; width: 85%;   }
    .wireBox { padding-left: 15px;  }
    .pageBox .textBox { width: 96%; }
    .pageBox .textBox img { max-width: 100%; height: auto; }
    .pageBox .textBox .wp-caption { max-width: 100%; height: auto; }
    .form-all { width: 430px; }
    .wireBox .photo { height: auto; width: 140px; background: none; box-shadow: 1px 1px 4px rgba(0,0,0,.5);   }
    .wireBox .content { width: 260px; padding-left: 10px; }
    .stepBox { padding-left: 25px; }
    .viewBox li a img { max-width: 100%; height: auto; }
    .authorBox .content { width: 70%; }
    .replyBox textarea { margin-right: 10px; }
    .wireBox .photo img { margin: 3%;  width: 94%; height: auto;  }
    .customerBox span  { width: 51%; }
    .customerBox .photo img { width: 90%; height: auto;  }
    .headerBox .search { margin-top: 10px;  }
    .briteBox { padding-left: 15px; padding-top: 0; overflow: hidden; }
    .briteBox table { width: 100% !important; }
    .briteBox table tr { display: block; overflow: hidden; width: 430px !important; }
    .briteBox table tr td { padding: 0 0 15px 10px; float: left; width: 130px; display: block; }
    .briteBox table tr td:first-child, .briteBox table tr td:nth-child(3) { padding-left: 0px; width: 70px; }
    .briteBox table tr td img { max-width: 100%; height: auto; }
    .pathBox #breadcrumbs { padding-left: 15px; }
    .siteBox {  margin-left: 10px; }
    .recentBox .photo { width: 120px; height: auto; box-shadow: 1px 1px 4px rgba(0,0,0,.5); -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5);  background: none;    }
    .recentBox .photo img { margin: 3%;   width: 94%; height: auto; }
    .recentBox .content { width: 280px; }
    .recentBox h4 { font-size: 17px;   }
    .recentBox a.btn, .wireBox .info a.btn { right: -15px;  }
    .recentBox li:first-child, .wireBox .info li:first-child { padding-left: 26px;   }
    .recentBox li, .wireBox .info li { padding: 0 4px; font-size: 9px; }
    .wireBox h1, .listBox h1 { line-height: 30px; font-size: 20px; }
    .recentBox li.last { width: auto; }
    .recentBox p { padding-top: 10px; font-size: 13px; }
    .recentBox { padding-left: 15px; }
    .flexslider-logo { width: 83% !important; margin:0 auto!important;}
    #contentCntr img.right { display: none; }
    #contentCntr img.right1 { display: none; }
    #contentCntr img.left  { display: none; }
    #contentCntr img.left1 { display: none; }
    .site1Box a.more { margin: 13px auto 0; display: block; width: 177px; height: 38px; text-align: center; font-size: 14px; line-height: 34px!important; text-decoration: none; color: #fff!important; font-family: 'SegoePrintRegular'; background: url(images/btn_bg2.png) no-repeat left 0px; }
    .site1Box a.more:hover { background-position: 0 -40px; }
    .footerBox .list { padding: 0 10px; width: 222px;   }
    .footerBox .list1 { padding: 0 10px; width: 200px;   }
    .listBox { padding-left: 15px; }
    .listBox .list { width: 100%; }
    .listBox .content { width: 36%; }
    .jcarousel-skin-tango .jcarousel-container-horizontal { width: 646px !important; margin: 15px 0px 0px 40px !important; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 646px !important; }
    .jcarousel-skin-tango .jcarousel-next-horizontal { right: -31px !important; }
    .gallery .gallery-item { width: 27% !important; }
    .customerBox .slider li li { width: auto; height: auto; }
}

/* All Mobile Sizes (devices and browser) */

@media only screen and (max-width: 767px) {

    body.page-template-homepage div#slider-menu{
        left: 0 !important;
    }

    html body.page-template-homepage div#slider-menu ul li a{
        box-sizing: border-box;
        font-size: 20px;
    }

    .centering { width: 90%; }
    #contentCntr .bgcenter { padding: 0; margin: 0 auto; width: auto; background: none; }
    #contentCntr .centering { padding-bottom: 0px; background: none; }
    .flex-viewport li { width: 100%; height: 100%; }
    .flex-viewport li img { width: 100%; height: auto; }
    .headerBox { }
    .headerBox .flexslider-home { height: auto; display: none; }
    .headerBox .centering { padding: 10px 0; height: 180px; background: #FFF; }
    .headerBox a.logo { margin: 0; float: none; position: static; left: 0px; top: 0px; }
    .headerBox a.logo img { max-width: 100%; width: auto; height: auto; display: block; margin: 0px auto; }
    .headerBox .search { padding: 15px 10px 0 10px; margin: 0px; float: none; position: static; left: 0px; top: 0px; }
    .headerBox .search input[type="text"] { padding: 0 5%; width: 70%; }
    .headerBox .search input[type="submit"] { float: right; }
    .briteBox { padding: 0; width: 100%; }
    .briteBox table { width: 100% !important; }
    .briteBox table tr { display: block; overflow: hidden; width: 100% !important; }
    .briteBox table tr td { padding: 0 0 15px 2%; float: left; width: 75%; display: block; }
    .briteBox table tr td:first-child, .briteBox table tr td:nth-child(3) { padding-left: 0px; width: 20%; }
    .briteBox table tr td:nth-child(2), .briteBox table tr td:nth-child(4) { min-height: 100px; }
    .briteBox table tr td img { max-width: 100%; height: auto; }
    .siteBox { padding: 5%; margin: 6% 0 0 0; width: 90%; }
    .siteBox span, .site1Box span { width: 100%; }
    .wireBox .content { padding: 0; width: 100%; text-align: center; }
    .recentBox li.last { width: 100 }
    .wireBox .blog { width: 90%; margin: auto; }
    .wireBox .photo { margin: auto; float: none; }
    .wireBox h1, .listBox h1 { padding-bottom: 4%; padding-left: 0; line-height: 30px;   }
    .pageBox .textBox { padding-left: 0;}
    .listBox { padding-left: 0; }
    .listBox .list { padding: 5% 2%; width: 96%; height: auto; float: none; text-align: center;  }
    .listBox .men  { margin: auto; float: none; background: none;  }
    .listBox .men img  { padding: 5% 3%; box-shadow: 1px 1px 4px rgba(0,0,0,.5); -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5); }
    .listBox .photo img { margin: auto; height: auto; }
    .listBox .content { padding: 2%; width: 96%; float: none; }
    .listBox .photo { padding: 2%; height: auto; float: none; margin: auto;  box-shadow: 1px 1px 4px rgba(0,0,0,.5); -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5); border-radius: 15px; -webkit-border-radius: 15px;  background: #fff; }
    .listBox .photo {  -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5); border-radius: 15px; -webkit-border-radius: 15px; }
    .recentBox { padding:  0; width: 100%; }
    .wifiBox input[type="text"] { width: 90%; }
    .wifiBox input[type="submit"] { margin: 2% 0 0 0; }
    #rightCntr .widget { margin-bottom: 2%; }
    .chooseBox li { padding-left: 5%; width: 95%; }
    .customerBox ul.slides .nolist { overflow: hidden; }
    .sliderBox .flex-viewport { width: 88%; }
    .wireBox { padding: 0; width: 100%; }
    .pathBox #breadcrumbs { padding: 0; width: 100%;  }
    #leftCntr { width: 100%; background: none;  }
    #rightCntr { width: 100%;  }
    .headerBox .slogan { display: none; }
    .recentBox .photo { width: 25%; height: auto; box-shadow: 1px 1px 4px rgba(0,0,0,.5); -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5);  background: none;    }
    .recentBox .photo img { margin: 3%;   width: 94%; height: auto; }
    .recentBox .content { width: 100%; }
    .briteBox h1 { line-height: 25px; }
    .customerBox .customer { width: 100%; }
    .recentBox h4 { font-size: 17px; text-align: center;   }
    .recentBox p { text-align: center;   }
    .wifiBox p { padding: 0; width: 100%; }
    .footerBox .list { padding: 2% 0; width: 100%; }
    .footerBox .list1 { padding: 2% 0; width: 100%; }
    .footerBox .list1 ul { width: 100%; float: none; overflow:hidden; }
    .footerBox .list li { padding-left: 10%; width: 90%; }

    #contentCntr { background: #FFF; }
    #contentCntr img.right { display: none; }
    #contentCntr img.right1 { display: none; }
    #contentCntr img.left  { display: none; }
    #contentCntr img.left1 { display: none; }

    .menuBox .menu { display: none; }
    .menuBox span.select { padding: 0px 5% 0px 5%; width: 90%; position: absolute; left: 0px; top: 5px; display: block; color: #fff; font-weight: bold; display: block; font-size: 15px; height: 45px; line-height: 45px; border: 0; background: #333 url(images/menu-bg.png) right no-repeat; }
    .menuBox select { width: 100% !important; height: 45px; color: #000; }
    .tinynav { padding: 10px 2% 10px; color: #fff; font-weight: bold; display: block; width: 100%; font-size: 15px; margin: 0 auto; height: 45px; border: 0; background: #333; }
    .menuBox { height: 51px; }
    .copyBox ul { width: 100%; float: none; overflow: hidden;  }
    .copyBox p { float: none; text-align: left; }
    .copyBox li:first-child { padding-left: 0; }
    .copyBox { padding-top: 2%; }
    .recentBox li:first-child, .wireBox .info li:first-child { padding-left: 26px; width: 87.9%; background-position: 0 3px;   }
    .wireBox .photo { padding-bottom: 5%;  background: none;  }
    .wireBox .photo img { padding: 4%; margin: 0; box-shadow: 1px 1px 4px rgba(0,0,0,.5); -webkit-box-shadow: 1px 1px 4px rgba(0,0,0,.5);  }
    .chooseBox li { padding-left: 10%; width: 90%; }
    .recentBox li,.wireBox .info li { padding: 2% 0; width: 95%; border-bottom: 1px solid #CCC;  background: none;  }
    .recentBox li.last, .wireBox .info li.last { width: 95%; }
    .sliderBox { margin-top: 0; border-top: #CCC solid 1px; background: #FFF; }
    .flexslider-logo { width:380px; margin:0 auto!important;}
    .jcarousel-skin-tango .jcarousel-container-horizontal { width: 380px !important; margin: 15px 0px 0px 20px !important; margin: 0 auto !important; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 380px !important; }
    .jcarousel-skin-tango .jcarousel-next-horizontal { right: -15px !important; }
    .jcarousel-skin-tango .jcarousel-prev-horizontal {left: -15px !important; }

    .gallery .gallery-item { width: 33% !important; }
    .footerBox .widget_nav_menu, .footerBox .widget_recent_entries { display: none; }

}

/* Mobile Sizes (devices and browser) */

@media only screen and (max-width: 420px) {

    .recentBox .photo { width: 100%; }
    .siteBox a.more, .site1Box a.more { margin: 13px auto 0; display: block; width: 177px; height: 38px; text-align: center; font-size: 14px; line-height: 34px!important; text-decoration: none; color: #fff!important; font-family: 'SegoePrintRegular'; background: url(images/btn_bg2.png) no-repeat left 0px; }
    .siteBox a.more:hover, .site1Box a.more:hover { background-position: 0 -40px; }
    .recentBox li:first-child, .wireBox .info li:first-child { padding-left: 26px; width: 86%; background-position: 0 3px;   }
    .wireBox .paging li a.next { position: static }
    .chooseBox li { padding-left: 10%; width: 90%; }
    .recentBox li,.wireBox .info li { padding: 2% 0; width: 95%; border-bottom: 1px solid #CCC;  background: none;  }
    .wireBox h1, .listBox h1 { line-height: 30px; }
    .wireBox .content { padding: 5% 0; }
    .recentBox li.last, .wireBox .info li.last { width: 95%; }
    .sliderBox .flexslider-logo { width: 100%;}
    .sliderBox a.flex-prev { left: -10px; }
    .sliderBox a.flex-next { right: -10px; }
    .flexslider-logo { width: 100%; margin:0 auto!important;}

    .jcarousel-skin-tango .jcarousel-container-horizontal { width: 260px !important; margin: 15px 0px 0px 20px !important; margin: 0 auto !important; }
    .jcarousel-skin-tango .jcarousel-clip-horizontal { width: 260px !important; }
    .jcarousel-skin-tango .jcarousel-next-horizontal { right: -15px !important; }
    .jcarousel-skin-tango .jcarousel-prev-horizontal {left: -15px !important; }

    .gallery .gallery-item { width: 50% !important; }
    .briteBox table tr td { padding: 0 0 15px 2%; float: left; width: 60%; display: block; }
    .briteBox table tr td:first-child, .briteBox table tr td:nth-child(3) { padding-left: 0px; width: 35%; }
    .briteBox table tr td:nth-child(2), .briteBox table tr td:nth-child(4) { min-height: 100px; }
    .briteBox table tr td img { max-width: 100%; height: auto; }
}


/*
-------------------------------------------------------------------------------------------------------------
BASTARDS ADDED
-------------------------------------------------------------------------------------------------------------
Layout
*/

#CR_videoPopup {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    z-index:99999999;
}

#CR_videoPopup .background {
    position:absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background: rgba(0,0,0,0.8);
}

#CR_videoPopup .wrapper{
    position:fixed;
    top:10%;
    left:10%;
    right: 10%;
    bottom:10%;
    background:#000;
}

#CR_videoPopup .wrapper .close {
    position: absolute;
    top:-30px;
    color:#fff;
    right:0;
    font-size:14px;
    cursor: pointer;
}

body.page-template-homepage .flexslider-home .flex-control-nav{
    position:absolute;
    right:0;
    bottom:-20px;
    width:495px;
    list-style:none;
    z-index:2;
}

body.page-template-homepage .flexslider-home .flex-control-nav li{
    display: inline-block;
}

body.page-template-homepage .flexslider-home .flex-control-nav li a{
    display: block;
    width:9px;
    height:9px;
    border-radius:100%;
    cursor:pointer;
    font-size: 9px;
    background-color:#bcbaba;
    color:#bcbaba;
    margin-right:5px;
}

body.page-template-homepage div#slider-menu{
    position: absolute;
    top: 426px;
    /*  left: 0;*/
    left: -8px;
    z-index: 530;
}

body.page-template-homepage div#slider-menu ul{
    list-style:none;
}

body.page-template-homepage div#slider-menu ul{
    /*  border-top:1px solid #bfbfbf;*/
}

body.page-template-homepage div#slider-menu ul li{
    margin-bottom: 3px;
}

body.page-template-homepage div#slider-menu ul li a{
    display: block;
    border: 1px solid #E5E5E5;
    border-bottom:1px solid #bfbfbf !important;
    /*  border-bottom:0;*/
    /*  padding:10px 19px 10px 50px;*/
    /*    border: 1px solid #E5E5E5;*/
    /*  padding:0 50px 0 15px;*/
    padding: 12px 50px 12px 15px;
    width:290px;
    font-size:22px;
    font-weight:bold;
    text-decoration: none;
    /*  color:#636363;*/
    color: #5F6565;
    position:relative;
    background-color: #d0151c;
    background: linear-gradient(to top, #DEDEDE 0%, #FFF 100%);
    border-radius: 8px;
}
body.page-template-homepage div#slider-menu ul li a:hover{
    /*  color:#d4141e;*/
    background: linear-gradient(to top, #BD0D08 0%, #DF2F2F 100%);
    color: white;
}

/*
body.page-template-homepage div#slider-menu ul li a::before {
content: " ";
position: absolute;
display: block;
border-top: 6px solid transparent;
border-bottom: 6px solid transparent;
border-left: 6px solid #d4141e;
width:0;
left: 20px;
top: 20px;
color: red;
font-weight: bold;
}
*/

body.page-template-homepage div#slider-menu ul li a:first-child{
    /*  border-bottom:1px solid #bfbfbf;*/
    /*  border-top:none;*/
}

body.page-template-homepage .flexslider-home .flex-control-nav li a.flex-active{
    background-color:#ff4844;
    color:red;
}

body.page-template-homepage .flexslider-home ul.slides{
    z-index:9999;
    position: relative;
    margin-left: 225px;
    overflow: visible;
}

body.page-template-homepage .slides .info{
    position:absolute;
    bottom:-40px;
    padding:67px 62px 10px 62px;
    width:356px;
    left: -240px;
}

body.page-template-homepage .slides .info h2{
    color:#636363;
    font-size:28px;
    font-weight:bold;
    line-height:30px;
    font-family: 'Arial';
    margin-bottom:15px;
}

body.page-template-homepage .slides .info p{
    color:#636363;
    margin-bottom:8px;
    line-height: 18px;
    font-size:14px;
}

body.page-template-homepage .slides .info h5{
    font-size:15px;
    color:#d51d25;
}

body.page-template-homepage .slides .info h6{
    font-style:italic;
    font-size:15px;
    color:#636363;
    font-weight:normal;

}

body.page-template-homepage .slides li{
    display: none;
}

body.page-template-homepage #page-mask{
    width: 1021px;
    height: 920px;
    overflow: hidden;
    position: relative;
    right:19px;
}

body.page-template-homepage #slides-bg{
    overflow: hidden;
    border-radius: 100%;
    width: 1100px;
    height: 1100px;
    margin-top: -240px;
    margin-left: 225px;
    background-color:#fff;
    position: absolute;
    z-index:813;

}

body.page-template-homepage .slides .img-mask{
    overflow: hidden;
    border-radius: 100%;
    width: 1100px;
    height: 1100px;
    margin-top: -240px;
    background-color:#fff;
    position: relative;
    z-index:888;
}

/* SLIDER */
body.page-template-homepage .slide-popup{
    display: none;
    width:359px;
    min-height:250px;
    background-color:#fff;
    position:absolute;
    left: 260px;
    top: 290px;
    z-index:9999999;
    padding:62px 62px 62px 149px;
    -moz-box-shadow: 3px 3px 4px #ccc;
    -webkit-box-shadow: 3px 3px 4px #ccc;
    box-shadow: 3px 3px 4px #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ccc')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#ccc');
}

body.page-template-homepage .slide-popup h4{
    color:#d51a23;
    font-size:21px;
    line-height:100%;
    margin-bottom:25px;
}
body.page-template-homepage .slide-popup button.close{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor:pointer;
    background-color: transparent;
    border: 0;
    font-size: 22px;
    outline:none;
}

body.page-template-homepage .slide-popup ul{
    border:0;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -1em;
    padding-left: 1em;
    overflow:auto;
}
body.page-template-homepage .slide-popup ul li{
    font-size:13.5px;
    color:#2f2f2f;
    margin-bottom:10px;
    line-height:20px;
}

body.page-template-homepage .slide-popup p{
    font-size:13.5px;
    color:#2f2f2f;
    line-height: 160%;
}

body.page-template-homepage .slide-popup .stamp{
    position: absolute;
    left: -29px;
    top: 60px;
}

body.page-template-homepage .slide-popup a.video-btn{
    height:40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#d51a23;
    color:#fff;
    padding:11px 15px 11px 15px;
    text-decoration:none;
    font-weight:bold;
    position: absolute;
    right: 125px;
    bottom: 35px;
    font-weight:bold;
    font-size:16px;
}

body.page-template-homepage .slide-popup a.video-btn img{
    float:left;
    margin: 0px 8px 0 0;
    width: 17px;
    height: 17px;;
}

body.page-template-homepage .slide-popup.ict-scan a.video-btn{
    right:-8px;
}

body.page-template-homepage .slide-popup a.read-more-btn{
    background-color:#d51a23;
    color:#fff;
    padding:11px 35px 11px 15px;
    text-decoration:none;
    font-weight:bold;
    position: absolute;
    right: -8px;
    bottom: 35px;
    font-weight:bold;
    font-size:16px;
}

body.page-template-homepage .slide-popup a.read-more-btn::after {
    content: " ";
    position: absolute;
    display: block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
    width:0;
    right: 16px;
    top: 14px;
    font-weight: bold;
}

body.page-template-homepage #headerCntr{
    height:205px;
}

body.page-template-homepage .menuBox {
    position: absolute;
    bottom:0;
    z-index:99999;
}

body.page-template-homepage #contentCntr .bgcenter{
    top: -206px;
    position: relative;
    margin-bottom: -206px;
}

body.page-template-homepage #contentCntr .flexslider-home {
    position: relative;
    min-height: 500px;
    background: #fff;
}

body.page-template-homepage #contentCntr .logo {
    position: absolute;
    z-index: 200;
}

body.page-template-homepage #contentCntr .logo img {
    width:175px;
    margin:30px 40px;
}

body.page-template-homepage .search { float: left; position: relative; width: 100%; z-index:99999 !important; }
body.page-template-homepage .search img.banner { position: absolute; top: 0; left: 1px; }
body.page-template-homepage .search img.leftshadow { position: absolute; top: 0; left: -8px; }
body.page-template-homepage .search img.rightshadow { position: absolute; top: 0; right: -9px; }
body.page-template-homepage .search a.logo { margin: 45px 42px 0 38px; float: left; position:absolute; z-index: 9; top:0px; }
body.page-template-homepage .search .slogan { padding: 23px 10px 26px; margin: 49px 0 0 0; top:0px; left:306px; position:absolute; z-index: 999999; float: left; width: 329px; text-align: center; border-radius: 14px; background: url(images/slogan_bg.png); }
body.page-template-homepage .search h6 { color: #171717; font-size: 16px; line-height: 23px; font-family: 'SegoePrintRegular'; font-style: italic; }
body.page-template-homepage .search { z-index: 200; width: auto; margin: 22px 20px 0 0; position:absolute; top:0px; right:0px; z-index: 9; float: right; }
body.page-template-homepage .search fieldset { border: 0px;  }
body.page-template-homepage .search fieldset p { float: right; }
body.page-template-homepage .search input[type="text"] { padding: 0px 13px; margin-left: 2px; float: left; width: 124px; height: 25px; line-height: normal; color: #989898; font-size: 14px; font-family: "Trebuchet MS" ; font-style: italic; border: 1px solid #dadada; background: #f8f8f8; }
body.page-template-homepage .search input[type="submit"] { margin-left: 3px; cursor: pointer; float: left; width: 30px; height: 27px; border: 0px; background: url(images/submit_bg.png) no-repeat left top; }
body.page-template-homepage .search .flexslider-home { height:209px; overflow:hidden; }

@media only screen and (min-width: 768px) and (max-width: 1000px) {

    body.page-template-homepage #page-mask{
        width:707px;
        right:0;
    }
    /*slide popup*/
    body.page-template-homepage .slide-popup{
        left:85px;
    }
}

@media only screen and (max-width: 767px) {

    /*slide popup*/
    body.page-template-homepage .slide-popup{
        position:fixed;
        left:0;
        right:0;
        top:0;
        bottom:0;
        width:100%;
        padding:20px 20px 120px 20px;
        height: auto;
        box-sizing:border-box;
        border:1px solid #ccc;
        overflow:auto;
    }
    body.page-template-homepage .slide-popup a.read-more-btn,body.page-template-homepage .slide-popup a.video-btn {
        position: relative;
        float:right;
        right:auto;
        left:auto;
        bottom:auto;
        top:20px;
        margin-left:10px;
    }
    body.page-template-homepage .slide-popup .stamp{
        position: relative;
        float:left;
        left: 0;
        top: 0;
        width: 90px;
        height: auto;
    }

    body.page-template-homepage .slides .info{
        width:100%;
    }
    body.page-template-homepage .slide-popup h4{
        margin-top: 30px;
        margin-left: 110px;
    }

    body.page-template-homepage .slide-popup ul{
        margin-top:80px;
    }

    body.page-template-homepage .slide-popup p{
        margin-left:110px;
    }

    body.page-template-homepage .flexslider-home ul.slides{
        width:100%;
        margin:0;
        padding:0;
        left:0;
        right:0;
        position:absolute;

        overflow:hidden;
    }

    body.page-template-homepage .slides .info{
        left:0;
        right:0;
        bottom:0;
        padding:0;
        box-sizing:border-box;
    }

    body.page-template-homepage .slides .info h2,body.page-template-homepage .slides .info p{
        width:100%;
        box-sizing:border-box;
    }

    body.page-template-homepage #contentCntr .bgcenter{
        width:100%;
    }

    body.page-template-homepage div#slider-menu{
        width:100%;
        right:0;
        top:266px;
        z-index:99999;
    }

    body.page-template-homepage div#slider-menu ul li a{ width:100% !important;}

    .menu-topmenu-container{
        width:100%;
    }

    body.page-template-homepage .slides .img-mask{
        width:100%;
        height:950px;
        background-color:transparent;
    }

    body.page-template-homepage .slides .img-mask img{
        display: none;
    }

    body.page-template-homepage #page-mask{
        width:100%;
        right:0;
    }

    body.page-template-homepage #slides-bg{
        display: none;
    }

    body.page-template-homepage .search{ display: none !important;}

    /* Log and search reset */
    body.page-template-homepage #contentCntr .logo{
        padding-top: 20px;
        width: 100%;
    }

    body.page-template-homepage #contentCntr .logo img {
        max-width: 100%; width: auto; height: auto; display: block; margin: 0px auto;
    }
}
