@font-face {
    font-family: 'SegoePrintRegular';
    src: url('segoe-print-1361529596.eot');
    src: url('segoe-print-1361529596.eot') format('embedded-opentype'),
         url('segoe-print-1361529596.woff') format('woff'),
         url('segoe-print-1361529596.ttf') format('truetype'),
         url('segoe-print-1361529596.svg#SegoePrintRegular') format('svg');
}
