.jcarousel-skin-tango .jcarousel-container {
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    width: 850px;
    padding: 0px;
	margin: 15px 0px 0px 70px;
}

.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}

.jcarousel-skin-tango .jcarousel-clip-horizontal {
    width:  850px;
    height: 102px;
}

.jcarousel-skin-tango .jcarousel-item {
    width: auto;
    height: auto;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 20px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 20px;
    margin-right: 0;
}

.jcarousel-skin-tango .jcarousel-item-placeholder {
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
text-indent: -9999px; display: block; position: absolute; top: 20px; right: -4px; width: 13px; height: 26px; cursor: pointer; background: url(../images/next_btn.png) no-repeat left top; }

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
    left: 24px;
    right: auto;
    background: url(../images/pre_btn.png) no-repeat left top;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
    background-position:  bottom left;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
    background-position:  bottom left;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
    cursor: default;
    background-position:  bottom left;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal {
text-indent: -9999px; display: block; position: absolute;  top: 20px; left: -48px; cursor: pointer; width: 13px; height: 26px; background: url(../images/pre_btn.png) no-repeat left top;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
    left: auto;
    right: 21px;
    background: url(../images/next_btn.png) no-repeat left top;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
    background-position:  bottom left;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
    background-position:  bottom left;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-position: -96px 0;
}
